/* サイト全体 */
*{
    box-sizing: border-box;
    font-family: "Hiragino Kaku Gothic ProN";
}



body{
    font-family: Montserrat , sans-serif;
    font-size: 14px;
}

#wrapper{
    width: 1080px;
    margin: 0px auto;
}

/* ヘッダー */
header{
    padding-top: 36px;
}

header h1{
    margin-bottom: 36px;
    width: 207px;
}

header div{
    position: relative; 
}

#catchcopy img{
    position: absolute;
    top:-328px;
    right: 100px;
    width: 242px;
    height: 92px;
}

#global-nav ul{
    display: flex;
    padding-top: 40px;
}
#global-nav ul li{
    /* padding: 6px 66px; */
    width: 180px;
    text-align: center;
    border-left: 2px solid #575757;
}
#global-nav ul li a{
    text-decoration-line: none;
    color: #454545;
    font-size: 16px;
}
/* ??? aタブにtextdecoration noneを　上の階層のタブに記述してもこの場合はだめ*/

#global-nav ul li:last-child{
    border-right: 2px solid #575757;
}

/* h2共通 */
h2{
    font-family: Montserrat , sans-serif;
    text-align: center;
    margin-top:136px;
    font-size: 24px; 
}

/* ニュースエリア */
.news-area{
    margin-top: 57px;
    padding: 80px 0;
    /* padding はautoはあまり使わない　数字とかけ合わせるとエラーが発生する */
    background-color: #fafafa;
    border: 1px solid #eee;
}

.news-area h2{
    margin-top: 0;
}

.news-area ul{
    width: 720px;
    margin: 0 auto;
    padding-top: 40px;
}

.news-area ul li{
    display: flex;
    padding-bottom: 24px;
}

.news-area ul li span{
    display: block;
    width: 130px;
    height: 28px;
    padding: 9px 32px;
    background-color: #333333;
    color: #fff;
    margin-right: 40px; 
}

.news-area ul li a{
    width: 540px;
    line-height: 2;
    color: #454545;
} 

/* フューチャーズエリア */

.features-contents{
    display: flex; 
    margin-top: 78px;
    align-items: flex-start;
    /* align-items をすると高さ(上ぞろえ)を合わせてくれる　デフォルトはストレッチ　 */
}
.features-img{
    width: 360px;
    height: auto;
}
/* ???画像比率 */
.features-text{
    margin-left: 55px;
}
.features-text h3{
    font-size: 24px;
    margin-bottom: 42px;
}
.features-text p{
    font-size: 16px;
    color: #454545;
    line-height: 1.6;
}
/* ???フォントの指定 */

/* サブスクリプションエリア */
.subscription-area p{
    margin: 50px auto;
    width: 720px;
    line-height: 2;
    font-size: 16px;
    color: #454545;
}
.subscription-contents{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.subscription-contents a{
    display: block;
    margin: 0 24px;
    border: 4px solid #c9e23f;
    width: 344px;
    height: 456px;
    overflow: hidden;
    text-decoration-line: none;
    box-shadow: 0px 3px 16px rgba(0,0,0,0.20);
}
.subscription-contents a img{
    width: 100%;
}
.subscription-contents a h3{
    display: block;
    text-align: center;
    margin-top: 35px;
    font-size: 22px;
    color: #454545; 
    text-decoration-line: none;
}

p.subscription-price{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 32px;
    color: #454545;
    font-family: "Montserrat";
}

p.subscription-price span{
    font-size: 40px;

}

p.subscription-description{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
    color: #454545;
}

p.subscription-btn{
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    background-color: #eee;
}

/* アイテムエリア */
.item-area ul{
    display: flex;
    flex-wrap: wrap;
    margin-top:66px;
    
}

footer{
    display: block;
    text-align: center;
    margin-top: 446px;
    margin-bottom: 56px;
}