/* サイト全体 */
*{
    box-sizing: border-box;
    font-family: "Hiragino Kaku Gothic ProN";
}

body{
    font-family: Montserrat , sans-serif;
    font-size: 14px;
}

#wrapper{
    width: 1080px;
    margin: 0px auto;
}

@media(max-width:768px){
    #wrapper{
        width: 100%;
        padding: 0 2%;
    }
}

/* ヘッダー */
header{
    padding-top: 36px;
}

header h1{
    margin-bottom: 36px;
    width: 207px;
}

header div{
    position: relative; 
}

@media(max-width:768px){
    header div img{
        width: 100%;
    }
}

#catchcopy img{
    position: absolute;
    top:-328px;
    right: 100px;
    width: 242px;
    height: 92px;
}
@media(max-width:768px){
    #catchcopy img{
        top:-140px;
        right: 30px;
        width: 150px;
        height: auto;
    }
}

#global-nav ul{
    display: flex;
    padding-top: 40px;
}
/* #global-nav ul li{
    width: 180px;
    text-align: center;
    border-left: 2px solid #575757;
} */

#global-nav ul a:hover{
    color: #9aaf24;
    background-color: #fafafa;
}

#global-nav ul li a{
    display: block;
    text-decoration-line: none;
    color: #454545;
    font-size: 16px;
    width: 180px;
    text-align: center;
    border-left: 2px solid #575757;
}
/* ??? aタブにtextdecoration noneを　上の階層のタブに記述してもこの場合はだめ*/

#global-nav ul li:last-child{
    border-right: 2px solid #575757;
}

#hamburger-menu{
    display: none;
}

@media(max-width:768px){
    #hamburger-menu{
        display: block;
        position: fixed;
        top: 40px;
        right:37px;
    }

     #global-nav ul{
        width: 100%;
        display: none;
        position: fixed;
        top: 70px;
        left: 0;
        height: 100vh;
        background-color: rgba(255,255,255,.95);
        z-index: 1;
    }

    #global-nav ul li{
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    #global-nav ul li:first-child{
        border-top: 1px solid #ccc;
    }

    #global-nav ul li a{
        width: 100%;
        margin: 0 auto;
        height: auto;
        padding: 16px 0;
        height: auto;
        border-left: none;
        text-align: center;
    } 

    #global-nav ul li a:hover{
        color: #9aaf24;
        background-color: #fafafa;
    }

}

/* h2共通 */
h2{
    font-family: Montserrat , sans-serif;
    text-align: center;
    margin-top:136px;
    font-size: 24px; 
    background-image: url("../img/titlebar.png") ;
    background-repeat:no-repeat;
    background-position:center; 
}

@media(max-width:768px){
    h2{
        margin-top: 100px;
    }

}


/* ニュースエリア */
.news-area{
    margin-top: 57px;
    padding: 80px 0;
    /* padding はautoはあまり使わない　数字とかけ合わせるとエラーが発生する */
    background-color: #fafafa;
    border: 1px solid #eee;
}

.news-area h2{
    margin-top: 0;
}

.news-area ul{
    width: 720px;
    margin: 0 auto;
    padding-top: 40px;
}

.news-area ul li{
    display: flex;
    padding-bottom: 24px;
}

.news-area ul li span{
    display: block;
    width: 130px;
    height: 28px;
    padding: 9px 32px;
    background-color: #333333;
    color: #fff;
    margin-right: 40px; 
}

.news-area ul li a{
    width: 540px;
    line-height: 2;
    color: #454545;
} 

@media(max-width:768px){
    .news-area{
        margin-top: 57px;
        padding: 50px 0;
    }
    .news-area ul{
        width: 100%;
        padding: 0 25px;
        padding-top: 40px;
    }

    .news-area ul li{
        display: block;
    }
    .news-area ul li:last-child{
        padding: none;
    }

    .news-area ul li span{
        display: block;
    }
    /* ???真ん中にしたい */
    .news-area ul li a{
        width: 100%;
        display: block;
        padding-top: 5px;
    }
    
}

/* フューチャーズエリア */

.features-contents{
    display: flex; 
    margin-top: 78px;
    align-items: flex-start;
    /* align-items をすると高さ(上ぞろえ)を合わせてくれる　デフォルトはストレッチ　 */
}
.features-img{
    width: 360px;
    height: auto;
}
/* ???画像比率 */
.features-text{
    margin-left: 55px;
}
.features-text h3{
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.features-text p{
    font-size: 16px;
    color: #454545;
    line-height: 1.6;
}

@media(max-width:768px){
    .features-contents{
        display: block;
    }
    .features-img{
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
    }

    .features-text{
        margin: 0 auto;
        padding-right: 25px;
        padding-left: 25px;
    }

    .features-text h3{
        padding-top: 30px;
    }

    .features-text p{
    }
}

/* サブスクリプションエリア */
.subscription-area p{
    margin: 50px auto;
    width: 720px;
    line-height: 2;
    font-size: 16px;
    color: #454545;
}
.subscription-contents{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.subscription-contents a{
    display: block;
    margin: 0 24px;
    border: 4px solid #c9e23f;
    width: 344px;
    height: 456px;
    overflow: hidden;
    text-decoration-line: none;
    box-shadow: 0px 3px 16px rgba(0,0,0,0.20);
}

.subscription-contents a:hover .subscription-btn{
    background: linear-gradient( 90deg, #c9e23f, #47e3dc );

}
.subscription-contents a:hover{
    transform: translateY(-5px);

}

.subscription-contents a img{
    width: 100%;
}
.subscription-contents a h3{
    display: block;
    text-align: center;
    margin-top: 35px;
    font-size: 22px;
    color: #454545; 
    text-decoration-line: none;
    font-family: "Montserrat";
}

p.subscription-price{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 32px;
    color: #454545;
    font-family: "Montserrat";
}

p.subscription-price span{
    font-size: 40px;

}

p.subscription-description{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
    color: #454545;
}

p.subscription-btn{
    width: auto;
    height: 50px;
    display: block;
    text-align: center;
    margin: 12px 24px 24px 24px;
    padding: 12px;
    font-size: 14px;
    background-color: #eee;
}

@media(max-width:768px){
    .subscription-area p{
        margin: 5px auto;
        width: 100%;
        padding: 0 25px;
    }

    .subscription-contents{
        display: block;
    }

    .subscription-contents a{
        display: block;
        margin: 40px auto;
    }

    p.subscription-description{
        margin-top: 0px;
        margin-bottom: 15px;
    }

    p.subscription-btn{
        margin: 0 auto;
    }
    /* ???両端の余白の開け方 */

}

/* アイテムエリア */
.item-area ul{
    display: flex;
    flex-wrap: wrap;
    margin-top:66px;
}

.item-area ul li :hover{
    opacity: 0.5;
}

@media(max-width:768px){
    .item-area ul{
        display: flex;
        flex-wrap: wrap;
    }
    .item-area ul li{
        width: 160px;
        height: auto;
    }
    /* ???3つ並ばない */
}

footer{
    display: block;
    text-align: center;
    margin-top: 446px;
    margin-bottom: 56px;
}

@media(max-width:768px){
    footer{
        margin-top: 80px;
        margin-bottom: 200px;
    }
}